extends ../layouts/main-layout.pug

include ../_includes/sharedHTMLfunctions.pug

block styles

block content

block scripts
  script.
    window.onload = function() {
       $(function(){app.game()});
    }