extends ../layouts/main-layout.pug

include ../_includes/sharedHTMLfunctions.pug

block styles
  style.
    * { margin: 0; padding: 0; box-sizing: border-box; }
block content
  ul#messages
    form(action='')
      input#m(autocomplete='off', name="message")
      button#submit Send
block scripts
  script.
    window.onload = function() {
       $(function(){app.admin()});
    }