extends ../layouts/admin-layout.pug

include ../_includes/sharedHTMLfunctions.pug

block styles
  style.
    * { margin: 0; padding: 0; box-sizing: border-box; }
block content
  .section.section-tabs
    .container
      a(href="/admin/add-question")
        button.delete-btn.btn.btn-link.btn-success Tạo câu hỏi
      table.table
        thead
          tr
            th(scope="col") #
            th(scope="col") Tựa đề
            th(scope="col") Điểm
            th(scope="col")
        tbody
          each question in questions
            tr
              th(scope="row") *
              td
                a(href="/admin/edit-question/" + question._id)  #{question.title}
              td #{question.score}        
              td(scope="row")
                //- a(href="/admin/delete-quesiton/", class="")
                button(type="submit", data-id=question._id).delete-btn.btn.btn-link.btn-success Xóa
      
block scripts
  script(src="/assets/js/admin.js")
  script.
    window.onload = function() {
       $(function(){admin.question()});
    }