mixin outputCollectionId(room)
  - var id = ""
  - if (room) {
    - room.rounds.forEach(e => {
        - if (e.isCurrentRound) {
          - id = e._id
        -}
    - })
  - }
  - return id

mixin formatDate(dateString)
  -var date = new Date(dateString);
  -var d = date.getDate();
  //- -var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ];
  -var monthNames = [ "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12" ];
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -if (d < 10) {
    -d = "0" + d
  -}
  -if (d < 10) {
    -m = "0" + m
  -}
  -var output = d + '/' + m + '/' + y + ' ' + date.toLocaleTimeString();
  =output

mixin totalScore(report, userId)
  -var total = 0
  -report.rounds.forEach(r => {
    -r.users.forEach(user => {
      -if(user.user._id.equals(userId)) {
        -total += user.score
      -}      
    -})
  -})
  =total